In [ ]:
# Write a program which will find all such numbers which are divisible 
# by 7 but are not a multiple of 5, between 2000 and 3200 
# (both included).The numbers obtained should be printed 
# in a comma-separated sequence on a single line

In [14]:
#1
num = []
for i in range (2000, 3001):
    if i%7 == 0 and i%5 != 0:
        num.append(i)
print(num)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996]

In [8]:
#1
l=[]
for i in range(2000, 3001):
    if (i%7==0) and (i%5!=0):
        l.append(str(i))

print (','.join(l))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996

In [ ]:
# Write a program which can compute the factorial of a given numbers.
# The results should be printed in a comma-separated sequence on a 
# single line.Suppose the following input is supplied to the 
# program: 8 Then, the output should be:40320

In [26]:
#2
num = int(input())
def fact(n):
    if n==0 or n==1:
        return 1
    else:
        return (n*fact(n-1))
fact(num)



# def factorial(n):
#     return (1 if (n==0 or n==1) else n*factorial(n-1))
    
# num = int(input())
# print("The factorial of the number is:", factorial(num))

6

720

In [ ]:
# With a given integral number n, write a program to generate a dictionary that contains (i, i x i) 
# such that is an integral number between 1 and n (both included). and then the program should print 
# the dictionary.Suppose the following input is supplied to the program: 8

In [35]:
#3
a = int(input())
ans={}
def dic(x):
    for x in range (0, x+1):
        ans[x] = x*x
dic(a)
print(ans)

5
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [44]:
#3
a = int(input())
def dic(x):
    c ={x:x*x for x in range (0,x+1)}
dic(a)
print(c)

5
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
# Write a program which accepts a sequence of comma-separated numbers from console 
# and generate a list and a tuple which contains every number.Suppose the following 
# input is supplied to the program

In [46]:
#4
a = input()
x = a.split(',')
print (x)
print (tuple(x))

1,2,3
['1', '2', '3']
('1', '2', '3')

In [ ]:
#     Write a program that calculates and prints the value according to the given formula:
#     Q = Square root of [(2 _ C _ D)/H]
#     Following are the fixed values of C and H:
#     C is 50. H is 30.
#     D is the variable whose values should be input to your program in a comma-separated 
#     sequence.For example Let us assume the following comma separated input sequence is given to the program: 100,150,180

In [63]:
#5
from math import sqrt
C,H = 50,30

def calc(D):
    return sqrt((2*C*D)/H)

print(",".join([str(int(calc(int(i)))) for i in input().split(',')]))

50,5,12
12,4,6

In [ ]:
#6