In [69]:
def lam(x):
    return (lambda x:x*2) 

print(lam(2))

{<function lam.<locals>.<lambda> at 0x0000016E6530E550>}

In [ ]:
#Basic user definer function
def symb(x):
    "Hu haaa haaa"
    return x*2
symb(x)

In [3]:
#try and except
try:
    print(0/0)
except ZeroDivisionError:
    print("cannot divide by zero")

cannot divide by zero

In [51]:
#Dictionary
new_dish = {"car":1, "Bus":2, "cycle":3}
new_dish['van'] = 4
value = new_dish["Bus"]
new_dish['truck'] = [1,5,'cat', 10.5]
value

2

In [52]:
new_dish

{'car': 1, 'Bus': 2, 'cycle': 3, 'van': 4, 'truck': [1, 5, 'cat', 10.5]}

In [53]:
len(new_dish)

5

In [55]:
#check if key is present in Dictionary
'cycle' in new_dish

True

In [26]:
#print all keys of the dictionary
new_dish.keys()

dict_keys(['car', 'Bus', 'cycle', 'van', 'truck'])

In [27]:
#print all values  of the dictionary
new_dish.values()

dict_values([1, 2, 3, 4, [1, 5, 'cat', 10.5]])

In [31]:
#print all items of dictionary as a list
new_dish.items()

dict_items([('car', 1), ('Bus', 2), ('cycle', 3), ('van', 4), ('truck', [1, 5, 'cat', 10.5])])

In [57]:
#turn the dictionary into a list
list_it  = list(new_dish.items())
list_it

[('car', 1),
 ('Bus', 2),
 ('cycle', 3),
 ('van', 4),
 ('truck', [1, 5, 'cat', 10.5])]

In [36]:
#writing a file with some words
filename = open('G:\Others\Data Science - TYPE A\cardinal test.txt', 'a')
addition = "tiger cat lion platypus horse bug horse lion elephant lion lion elephant lion elephant lion lion elephant lion elephant lion lion elephant"
filename.write(addition)
filename.close()

In [27]:
#opening the document for word counting
import pandas as pd
file = open('G:\Others\Data Science - TYPE A\cardinal test.txt')
reading = file.read()
a = reading.split()
print(a)

['tiger', 'cat', 'lion', 'lion', 'elephanttiger', 'cat', 'lion', 'platypus', 'horse', 'bug', 'horse', 'lion', 'elephant', 'lion', 'lion', 'elephant', 'lion', 'elephant', 'lion', 'lion', 'elephant', 'lion', 'elephant', 'lion', 'lion', 'elephanttiger', 'cat', 'lion', 'platypus', 'horse', 'bug', 'horse', 'lion', 'elephant', 'lion', 'lion', 'elephant', 'lion', 'elephant', 'lion', 'lion', 'elephant', 'lion', 'elephant', 'lion', 'lion', 'elephanttiger', 'cat', 'lion', 'platypus', 'horse', 'bug', 'horse', 'lion', 'elephant', 'lion', 'lion', 'elephant', 'lion', 'elephant', 'lion', 'lion', 'elephant', 'lion', 'elephant', 'lion', 'lion', 'elephanttiger', 'cat', 'lion', 'platypus', 'horse', 'bug', 'horse', 'lion', 'elephant', 'lion', 'lion', 'elephant', 'lion', 'elephant', 'lion', 'lion', 'elephant', 'lion', 'elephant', 'lion', 'lion', 'elephant']

In [39]:
##and to count the number of words with dict
new_dict = {}
for word in a:
    if word in new_dict:
        new_dict[word] += 1
    else:
        new_dict[word] = 1
print(new_dict)

{'tiger': 1, 'cat': 5, 'lion': 42, 'elephanttiger': 4, 'platypus': 4, 'horse': 8, 'bug': 4, 'elephant': 21}

In [43]:
#and to count the number of words using defaultdict
from collections import defaultdict
new_dict = defaultdict(int)
for word in a:
    new_dict[word]+= 1
print(new_dict)

defaultdict(<class 'int'>, {'tiger': 1, 'cat': 5, 'lion': 42, 'elephanttiger': 4, 'platypus': 4, 'horse': 8, 'bug': 4, 'elephant': 21})

In [49]:
#to look for 2 most repeated word in the document
#and to count the number of words using Counter
from collections import Counter

counting = Counter(a)
for word in counting.most_common(2):
    print (word)

('lion', 42)
('elephant', 21)

In [21]:
#making and using  a dict
icecream = {"apple":'10RS',("lemon","orange"):"20Rs", "chocolate":"25Rs","BlackBerry":"30Rs","chocochip":"35Rs"}
icecream['straberry'] = "22Rs"
buy = icecream[("apple")]
buy

'10RS'

In [9]:
#looking at key error that appear when elements are not present
cant_buy = icecream['coconut']
cant_buy

KeyError: 'coconut'

In [11]:
#using default dict
from collections import defaultdict
def avoiding():
    return "Element not found"

icecream2 = defaultdict(avoiding)
icecream2['litchi'] = '45Rs'
icecream2['rambutan'] = '50Rs'
item = icecream2.items()
item

dict_items([('litchi', '45Rs'), ('rambutan', '50Rs')])

In [24]:
#demonstration of error when default dict has no value passed 
icecream2 = defaultdict(default_factory)
icecream2['litchi'] = '45Rs'
icecream2['rambutan'] = '50Rs'
buy = icecream2['moosambi']
buy

NameError: name 'default_factory' is not defined

In [14]:
#defaultdict at work
buy = icecream2['litchi']
cant_buy = icecream2['mango']
print (buy)
print(cant_buy)

45Rs
Element not found

In [6]:
#printing all keys of a dict
keys = icecream.keys()
print(keys)

dict_keys(['vanila', 'chocolate', 'BlackBerry', 'chocochip', 'straberry'])

In [7]:
#printing all values of a dict
value = icecream.values()
print(value)

dict_values(['20Rs', '25Rs', '30Rs', '35Rs', '22Rs'])

In [8]:
#printing all items of a dict
item = icecream.items()
item

dict_items([('vanila', '20Rs'), ('chocolate', '25Rs'), ('BlackBerry', '30Rs'), ('chocochip', '35Rs'), ('straberry', '22Rs')])

In [30]:
#word count using Counting
from collections import Counter
count = Counter(a)
print(count)

Counter({'lion': 42, 'elephant': 21, 'horse': 8, 'cat': 5, 'elephanttiger': 4, 'platypus': 4, 'bug': 4, 'tiger': 1})

In [36]:
#Set datatype 
s = set()
a = s.add(2)
b = s.add(5)
c = s.add(7)
d = s.add(2)
print(s)
print("lenth of set \"s\" is :", len(s))

{2, 5, 7}
lenth of set "s" is : 3

In [56]:
#to sort elements of a list
x = [4,-2,-8,3]
y = sorted(x, reverse = True)
#y = sorted(x, key= abs, reverse = True)
#x.sort(reverse = True)
y

[4, 3, -2, -8]

In [49]:
x

[8, 4, 3, 2]

In [61]:
#making list using list
a = [2,-2,8,5]
b = [x for x in range(5) if x%2==0]
c = [x*x for x in b]
d = [x*x for x in range(5)]
d

[0, 1, 4, 9, 16]

In [64]:
dict_of_list = {x:x*x for x in range(5)}
dict_of_list

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [81]:
#dict using multiple for condition
e = [(x,y) for x in range(4) 
     for y in range(x+1,3)]
e

[(0, 1), (0, 2), (1, 2)]

In [14]:
l = []
def itr(n):
    i = 1
    while i<n:
        l.append(i*i)
    
        i += 1
itr(10)
print(l)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [23]:
def yielder(n):
    i = 1
    while i<n:
        yield(i*i)
        i += 1

for i in yielder(10):
    print(i)

1
4
9
16
25
36
49
64
81

In [32]:
import random as ram
ram.random()

0.9163453718085519

In [13]:
#to create random number repeatedly
ram.seed(5)
ram.random()

0.6229016948897019

In [56]:
    ram.randrange(1,7)

4

In [40]:
a =[1,2,3,4,5]
ram.shuffle(a)
print (a)

[4, 5, 2, 3, 1]

In [67]:
ram.choice(a)

4

In [70]:
ram.sample(a,4)

[4, 3, 5, 2]

In [116]:
ram.sample(range(50),10)

[5, 20, 43, 38, 31, 45, 22, 41, 23, 3]

In [128]:
class hero():
    x=4

a = hero()
print(a.x)

4

In [138]:
class family():
    def __init__(self, name, age):
        self.name = name
        self.age = age

member1 = family('heena', 21)
member2 = family('shaiz', 28)
member3 = family('shamshad', 52)
member4 = family('zameer', 60)
print(member1.name)

heena

In [6]:
class family():
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    def myfunct(self):
        print("These are my family members:{}".format(self.name, self.age))

member1 = family('heena', 21)
member2 = family('shaiz', 28)
member3 = family('shamshad', 52)
member4 = family('zameer', 60)

member1.myfunct()
member2.myfunct()
member3.myfunct()
member4.myfunct()

These are my family members:heena
These are my family members:shaiz
These are my family members:shamshad
These are my family members:zameer

In [ ]:
class Set:
    def __init__(self, values=None):
        """This is constructor
        use it"""
        
        s1 = Set()
        s2 = Set([1,2,3,4])
        
        self.dict = {}
        
        if values is not None:
            for value in values:
                self.add(value)
            
a = Set()
a.s1()

In [5]:
class exp:
    def __init__(self, base, power):
        return base**power

a = exp(2,3)
print(a.exp)

TypeError: __init__() takes 2 positional arguments but 3 were given