In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('G:\Others\Data Science - TYPE A\Practise Project\\titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
import dtale as dt
dt.show(df)

In [7]:
from pandas_profiling import ProfileReport

2021-11-06 17:38:05,159 - INFO     - Pandas backend loaded 1.3.3
2021-11-06 17:38:05,346 - INFO     - Numpy backend loaded 1.21.2
2021-11-06 17:38:05,346 - INFO     - Pyspark backend NOT loaded
2021-11-06 17:38:05,346 - INFO     - Python backend loaded

In [8]:
profile = ProfileReport(df)
profile.to_file('report.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [4]:
import sweetviz as sv
report = sv.analyze(df)
report.show_html('report2.html')

                                             |                                             | [  0%]   00:00 ->â€¦

Report report2.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [3]:
import autoviz as avz

ModuleNotFoundError: No module named 'autoviz'